.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.articlesList {
  display: flex;
  justify-content: center;
}

.topics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.loading {
  margin-top: 240px;
}
