.userText {
  text-align: center;
  font-family: sans-serif;
}

.usersList {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1280px;
}
