.userCard {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex: 0 0 160px;
  gap: 4px;
  text-align: center;
  align-items: center;
  border: 2px;
  border-radius: 12px;
  background-color: lightgrey;
  max-width: 500px;
  border-radius: 20px;
  padding: 10px;
}

#userImg {
  border-radius: 10px;
  background-color: white;
  width: 150px;
  height: 200px;
}
