.mainHeader {
  background: #002D62;
  color: white;

}

.headerUser {
  margin-top: -20px;
  margin-bottom: -20px;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.headerLink {
  color: white;
  text-decoration: none;
  
}

.loggedInUser {
  background-color: white;
  margin-top: 26px;
  margin-bottom: -18px;
  height: 35px;
  width: 35px;
  border-radius: 10px;
}

.siteName {
  font-size: 2rem;
}


