#mainHeader {
  width: 90%;
  box-sizing: border-box;
  text-align: center;
  background: navy;
  color: white;
  padding: 1em;
  align-items: baseline;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  border-radius: 10px;
}

.headerLink {
  color: white;
  text-decoration: none;
  font-size: xxx-large;
  margin-bottom: 0px;
}

.loggedInUser {
  background-color: white;
  padding-top: 20px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
