.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.usersLoading {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  gap: 16px;
  justify-content: space-evenly;
  margin: auto;
  max-width: 1280px;
}

.articlesLoading {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.loader {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  flex: 0 0 160px;
  gap: 4px;
  text-align: center;
  align-items: center;
  height: 300px;
  max-width: 500px;
  min-width: 200px;
  border-radius: 20px;
  padding: 10px;
}
