.commentCard {
    background-color: blanchedalmond;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
}

#commentBody {
    padding: 10px;
}

#commentAuthor {
    padding: 10px;
}

#commentCreated {
    padding: 10px;
}

#commentVotes {
    padding: 10px;
}